.header{
	background: $backgroundHeader;
}
//Top bar
.topBar{
	border-bottom: 1px solid $grey;
}
.topBar__container{
	display: flex;
	justify-content: space-between;
	@include respond-to("medium"){
	  flex-direction: column;
	  text-align: center;
	}
	@include respond-to("medium"){
	  display: none;  
	}
}
.topBar__welcome{

}
.topBar__contactContainer{
	display: flex;
	align-items: center;
	@include respond-to("medium"){
	  justify-content: center;
	  font-size: 2rem;

	}
	@include respond-to("medium"){
		flex-direction: column;
	}
}
.topBar__contact{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 20px;
	i{
		margin-right: 5px;
	}
	p,i{
		font-size: 1.2rem;
		color:  $grey;
		@include respond-to("medium"){
		  font-size: 2rem;
		}
	}
	p{
	font-family: 'Open Sans', sans-serif;
	margin-right: 20px;
	}
	@include respond-to("small"){
		flex-direction: column;

	}
}
.topBar__social{
	list-style: none;
	color: $green;
	display: flex;
	i{
		margin: 5px;
		@include respond-to("small"){
		  font-size: 3rem;
		}
	}
}
//Bottom bar
.bottomBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	@include respond-to("large"){
	  flex-direction: column;
	}
	@include respond-to("medium"){
		flex-direction: row;
		justify-content: space-between;
	}
}
.h2small{
	color: $dark;
}
.h2small--header{
	
}
.nav{
	display: flex;
	font-size: 1.7rem;
	color: $grey;
	@include respond-to("large"){
	  margin-bottom: 20px;
	}
	@include respond-to('medium'){
		display: none;
		font-size: 3rem;
	}
}
input#toggle {
	display: none;  
}
input#toggle:checked + .overlay__menu{
	top: 0;
	bottom:0;
	opacity: 1;
	transition: all .5s;  //when the checkbox is checked, show the nav
}
input#toggle:checked + .overlay__menu .overlay__contactContainer{
	top: 50%;
	transform: translateY(-50%);
	opacity: 1;
	transition: all .5s;  //when the checkbox is checked, show the contact container
}

.nav__ham {
	display: none;
	position: fixed;
	z-index: 999;
	right: 0;
	top: 0;
	@include respond-to('medium'){
		display: block;
		font-size: 3.2rem;
	}
}

.nav__item{
	margin: 0 5px;
	transition: all .3s;
	
	&:hover{
		color: $green;
	}
}
.nav__item--active{
	color: $green;
	margin: 0 5px;
}
// hero
.hero{
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.29)), url("../assets/hero.png"); 
	background-size: cover;
	padding: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}
.h3small--white{
	color: white;
	text-transform: capitalize;
}
.h5small--white{
	color: white;
	text-transform: capitalize;
}
.whiteLine::after{
	content:"";
	display: block;
	height: 2px;
	width: 152px;
	background: white;
}
.button--clear{
	background: none;
	border: 1px solid white;
	border-radius: 15px;
	padding: 20px;
	color: white;
	font-size: 1.8rem;
	display: block;
	transition: all .5s;
	&:hover{
		color:black;
		background: white;
	}
}
.hero__dots::after{
	content: "..";
	display: block;
	color: white;
	font-size: 100px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 50px;

}
.hero__dots::before{
	content: ".";
	display: block;
	color: $green;
	font-size: 100px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	bottom: 50px;
	right: 50%;
}


//overlay menu
.overlay__menu{
	display: flex;
	align-items: center;
	flex-direction: row;
	position: fixed;
	top: -100%;
	bottom: 100%;
	left: 0;
	right: 0; 
	background: rgba(0, 0, 0, 0.8);
	z-index: 99;
	opacity: 0;
	transition: all .5s;

}
.overlay__nav{
	display: flex;
	flex-direction: column;
	// align-content: flex-end;
	font-size: 3rem;
	margin: 0px;
	// transition: all .3s;
	color: white;
		li:hover{
			color: $green;
		}
	}
	.overlay__item--active{
		color: $green;
		margin: 0 5px;
	}
.overlay__contact p, .overlay__contact i{
	color: white;
	margin: 0;
	// padding-right: 5px;
}
.h2--overlay{
	color: white;
	margin: 0;
}
.overlay__contactContainer{
	position: fixed;
	top: -100%;
	right: 0px;
	z-index: 9999;
}